= link_to "Add Photo", new_album_photo_path(@album) if @album.user == current_user

.row.row-offcanvas.row-offcanvas-right
  .col-xs-12.col-sm-9
    %p.pull-right.visible-xs
      %button.btn.btn-primary.btn-xs{"data-toggle" => "offcanvas", :type => "button"} Toggle nav
    .row
      -@album.photos.each do |photo|
        .col-xs-6.col-lg-4
          %img{ src: photo.image_url, style: "height:200px;width:250px;", title: photo.tag_line}
          %p
            = photo.created_at
          %p
            Uploaded by
            = photo.album.user.name
